[DEFAULT]
s3=s3://
bucket=ingrescan
s3_uno_dir=uno/
s3_dos_dir=dos/

# model_loc=/content/drive/MyDrive/272_IngreScan/Model
model_loc=${s3_uno_dir}model
food_rec_model_key=${model_loc}/export.pkl
knn_nutrition_model_key=${model_loc}/knn.pkl

# data_loc=/content/drive/MyDrive/272_IngreScan/Data
data_loc=${s3_uno_dir}data/
nutrition_data_key=${data_loc}nutrition_values.csv


[stage]
tmp_dir_local=tmp/
model_path=${tmp_dir_local}model/
food_rec_model_path=${model_path}export.pkl
knn_nutrition_model_path=${model_path}knn.pkl
data_path=${tmp_dir_local}data/
nutrition_data_path=${data_path}/nutrition_values.csv


[prod]


[test]
tmp_dir_local=tmp/
model_path=${tmp_dir_local}model/
food_rec_model_path=${model_path}export.pkl
knn_nutrition_model_path=${model_path}knn.pkl
data_path=${tmp_dir_local}data/
nutrition_data_path=${data_path}/nutrition_values.csv

test_image_path=tmp/test/data/1164.jpg
